/* RESET */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: 'Lato', sans-serif;
}

img {
    max-width: 100%;
    display: block;
}

/* APP LAYOUT */

#app {
    height: 100vh;
    background: black;
    color: white;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.flex {
    display: flex;
}  

.content {
    overflow: auto;
}

.grow {
    flex-grow: 1;
}

.space-between {
    justify-content: space-between;
}


/* MAIN */

.main-window {
    max-height: 90%;
    overflow: auto;
}

.content {
    flex-direction: column;
    justify-content: center;
    position: relative;
    padding: 20px;
}

.view-buttons {
    position: absolute;
    top: 0;
    right: 0;
    gap: 8px;
    padding: 20px;
}

.call-screen {
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
}

.participant, .myself {
    cursor: pointer;
    position: relative;
    outline: 1px solid rgb(124, 124, 124);
}  

.myself {
    outline: 1px solid rgb(156, 209, 106);
}

.participant:hover {
    outline: 2px solid rgb(124, 124, 124);
}

.myself:hover {
    outline: 2px solid rgb(156, 209, 106);
}

.participant img {
    width: 250px;
    aspect-ratio: 3 / 2;
    object-fit: cover;
}

.participant-overlay {
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6);
    font-size: 14px;
    line-height: 25px;
    padding-inline: 4px 6px;
    gap: 6px;
}

.participant-mic-off, .participant-mic-on {
    width: 20px;
    text-align: center;
}

.participant-mic-on {
    position: absolute;
    opacity: 0;
}

.participant-overlay:hover .participant-mic-off {
    opacity: 0;
}

.participant-overlay:hover .participant-mic-on {
    opacity: 1;
}

.speaker-view, .maximize-icon {
    background-color: rgb(109, 109, 109);
    padding-inline: 8px;
    border-radius: 5px;
    align-items: center;
    gap: 5px;
    font-size: 12px;
    line-height: 20px;
    cursor: pointer;
}

.speaker-view-icon {
    font-size: 16px;
}

.speaker-view:hover,
.maximize-icon:hover {
    color: rgb(63, 63, 63);
    background-color: rgb(197, 197, 197);
}


/* ASIDE */

.audio-video,
.interactions {
padding-block: 10px;

} 

.toolbar {    
    background-color: rgb(46, 46, 48);
    /* padding: 10px; */
    font-size: 12px;
    text-align: center;
    flex-shrink: 0;
}

.toolbar .mic-icon,
.toolbar .cam-icon,
.interactions .icon {
    font-size: 20px;
    padding-bottom: 5px;
}

.toolbar-mic-on,
.toolbar-mic-off,
.toolbar-cam-on,
.toolbar-cam-off {
    width: 80px;
    height: 50px;
    padding: 8px;
    border-radius: 8px;
}

.toolbar-mic,
.toolbar-cam {
    position: relative;
    cursor: pointer;
}

.toolbar-mic-off,
.toolbar-cam-off {
    position: absolute;
    background-color: rgb(62, 62, 65);
    opacity: 0;
    top: 0;
    left: 0;
}

.toolbar-mic-off .mic-icon,
.toolbar-cam-off .cam-icon {
color: red;
}

.toolbar-mic-off:hover,
.toolbar-cam-off:hover {
    opacity: 1;
}

.interactions {
    gap: 10px;
} 

.icon-frame {
    height: 50px;
    padding: 8px;
    border-radius: 8px;
}  

.green {
    color: rgb(38, 221, 38);
}

.icon-frame:hover {
    background-color: rgb(62, 62, 65);
}

.end-meeting {
    background-color: rgb(107, 103, 103);
    color: rgb(148, 14, 14);
    align-items: center;
    padding-inline: 20px;
    font-weight: 900;
    font-size: 14px;
    transition: all 200ms;
    cursor: pointer;
}

.end-meeting:hover {
    background-color: rgb(148, 14, 14);
    color: rgb(107, 103, 103);
}

/* SCROLLBAR */

::-webkit-scrollbar {
    width: 15px;
}
  
  ::-webkit-scrollbar-track {
    background: rgb(55, 55, 55, 0.2);
}
   
  ::-webkit-scrollbar-thumb {
    background: rgb(55, 55, 55);
}
  
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(65, 65, 65);
}

